# Assignment 3: Python Fundamentals

### Author: Sean Becker
### Email: tuo01803@temple.edu
#### This notebook will be used to explore the fundamentals of Python and to explore/apply the skills that we have been building on so far, which includes;
        * Markdown
        * Lists/dictionary
        * Functions/conversions
        * And more!

# 1/1, Beadling

In [1]:
import matplotlib.pyplot as plt  # Sets up being able to render figures.
%matplotlib inline                           
%config InlineBackend.figure_format='retina' 
plt.rcParams['figure.figsize'] = 12,6   

# 1/1, Beadling

<span style="color:red"> Create a list with the names of every planet in the solar system (in order by distancefrom the sun)

In [2]:
Planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"] #List of planets in order from, the sun. Sorry pluto, not a planet.

# 1/1, Beadling

<span style="color:red"> Have Python tell you how many planets there are by examining your list

In [3]:
len(Planets) # Will return the number of objects contained in the list.

# 1/1, Beadling

8

<span style="color:red"> Use slicing to display the first four planets (the rocky planets). In the Markdown cell for this question, embed images of the four planets.

In [4]:
print(Planets[0:4]) #printing the first four planets, specified by the brackets

# 1/1, Beadling

['Mercury', 'Venus', 'Earth', 'Mars']

Mercury
![](https://i.natgeofe.com/n/c6f7cee9-cde6-44a2-a686-9a80f5bfc1e8/01_mercury_pia15190_orig.jpg)
Venus
![](https://wp.technologyreview.com/wp-content/uploads/2020/09/PIA23791-JPL-Caltech_web.jpg?w=1944)
Earth
![](https://cdn.britannica.com/25/160325-050-EB1C8FB7/image-instruments-Earth-satellite-NASA-Suomi-National-2012.jpg)
Mars
![](https://upload.wikimedia.org/wikipedia/commons/0/0c/Mars_-_August_30_2021_-_Flickr_-_Kevin_M._Gill.png)

<span style="color:red"> Iterate through your planets and print the planet name only if it has a “s” at the end.

In [12]:
for element in Planets:  #Checking the elements/words in that list
    if 's' in element[-1]: #if s is in the last position for each element
        print(element)    #print the element

    # 1/1, Beadling

Venus
Mars
Uranus

<span style="color:red"> Create a dictionary that maps each planet name to its mass. You can use values 
from this NASA fact sheet. You can use whatever units you want but be consistent.

In [19]:
PlanetMass_kg={    #dictionary with the name of each planet mapped to its mass in kg
    "Mercury": .330*10**24,
    "Venus": 4.87*10**24,
    "Earth": 5.97*10**24,
    "Mars": .642*10**24,
    "Jupiter": 1898*10**24,
    "Saturn": 568*10**24,
    "Uranus": 86.8*10**24,
    "Neptune": 102*10**24,
}
PlanetMass_kg #to test the dictionary and make sure it prints out each planet with mass

# 1/1, Beadling

{'Mercury': 3.3e+23,
 'Venus': 4.87e+24,
 'Earth': 5.969999999999999e+24,
 'Mars': 6.42e+23,
 'Jupiter': 1898000000000000000000000000,
 'Saturn': 568000000000000000000000000,
 'Uranus': 8.68e+25,
 'Neptune': 102000000000000000000000000}

<span style="color:red"> Use your dictionary to look up Earth’s mass.

In [25]:
PlanetMass_kg['Earth'] #calling on the dictionary to print Earths mass. need to remember the ' ' since i used quotes in the dictionary

# 1/1, Beadling

5.969999999999999e+24

<span style="color:red"> Loop through the data and create a list of planets whose mass is greater than 100 x 
10^24 kg.

In [32]:
for x in PlanetMass_kg: #loop that will look at each planet
    if PlanetMass_kg[x] > 100*10**24: #if the associated mass is above this value....
        print(x)      #print

# 1/1, Beadling

Jupiter
Saturn
Neptune

<span style="color:red"> Display your result

In [37]:
for x in PlanetMass_kg: #loop that will look at each planet
    if PlanetMass_kg[x] > 100*10**24: #if the associated mass is above this value....
        print(x)      #print

Jupiter
Saturn
Neptune

<span style="color:red"> Now add Pluto to your dictionary

In [39]:
PlanetMass_kg={    #dictionary with the name of each planet mapped to its mass in kg
    "Mercury": .330*10**24,
    "Venus": 4.87*10**24,
    "Earth": 5.97*10**24,
    "Mars": .642*10**24,
    "Jupiter": 1898*10**24,
    "Saturn": 568*10**24,
    "Uranus": 86.8*10**24,
    "Neptune": 102*10**24,
    "Pluto": .0130*10**24 #welcome to the club, Pluto
}
PlanetMass_kg #to test the dictionary and make sure it prints out each planet with mass

# 1/1 --- yes, but this is a very long and inefficient way ....
# In your Python foundations notebook you learned another way:
# PlanetMass["Pluto"]=0.130

{'Mercury': 3.3e+23,
 'Venus': 4.87e+24,
 'Earth': 5.969999999999999e+24,
 'Mars': 6.42e+23,
 'Jupiter': 1898000000000000000000000000,
 'Saturn': 568000000000000000000000000,
 'Uranus': 8.68e+25,
 'Neptune': 102000000000000000000000000,
 'Pluto': 1.3e+22}

<span style="color:red"> Write a dictionary that maps your course names to your course time. Example: ‘EES2096’ : ‘T R 9:30 – 10:50 AM’

In [42]:
Fall2024={ #the courses I am taking as a student
    'EES_5401':"T R 8:00-9:20 & W 4:00-6:00",
    'EES_5506':"T R 9:30-10:50",
    'EES_5601':"T 1:00-4:00"
}
Fall2024 #to output my schedule

# 1/1, Beadling

{'EES_5401': 'T R 8:00-9:20 & W 4:00-6:00',
 'EES_5506': 'T R 9:30-10:50',
 'EES_5601': 'T 1:00-4:00'}

<span style="color:red"> Write a function to convert from miles to kilometers (km) and km to miles, with the 
user specifying either miles or km as inputs.

In [44]:
def mi_km_conversion(distance, to_units="km"): #mi to km by default but user can specify what they are converting to
    if to_units == "km":
        convert = distance*1.60934
    if to_units == "mi":
        convert = distance*0.621371

    return convert #the return outout will hold the conversion value

# 1/1, Beadling

<span style="color:red"> Check that the results are sensible by trying several examples.

In [46]:
mi_km_conversion(2, to_units="mi")

1.242742

In [47]:
mi_km_conversion(10, to_units="km")

16.0934

<span style="color:red"> Use your function to determine the length of a 5K race in miles

In [49]:
mi_km_conversion(5, to_units="mi")

# 1/1, Beadling

3.106855

<span style="color:red"> Write a function that computes and returns the surface area of a sphere.

In [57]:
def area_sphere(radius): #function accepts a radius value. The area will be un the sane units but squared
    area = 4*3.14*radius**2
    return area  #the return value will equal the area as converted by function

# 1/1, Beadling

In [53]:
sun_rad = 432690 #creating variables for the next question, for fun. radius given in miles
earth_rad = 3938.8

<span style="color:red"> Use your function to compute the surface area of the Sun and of the Earth

In [62]:
area_sphere(sun_rad) #output in miles squared

# 1/1, Beadling

2351491189416.0

In [65]:
area_sphere(earth_rad) #output in miles square

194857666.72640002

<span style="color:red"> Write a function that takes two arguments (feet and inches) and returns height in 
meters.

In [71]:
def feet_inches_to_meters(feet, inches): #the function takes two values, first feet then inches
    new_inches = (feet*12) + inches  #convert feet to inches and add the input inches to get total value in inches
    meters = new_inches / 39.37 #convert inches to meters
    return meters

# 1/1, Beadling

In [70]:
feet_inches_to_meters(25, 10)

7.874015748031496

<span style="color:red"> Write a function that takes that takes one argument (height in meters) and returns two arguments (feet and inches).

In [90]:
def meters_to_feet_inches(meters): #function will take meters as an input
    m_to_inch = (meters*39.37) #turning the meters to total inches
    m_to_feet = 0 #conversion to feet starts at 0
    while m_to_inch >= 12: #while function for when the amount if inches is greater than 12
        m_to_inch -= 12 #will subract 12 from total inches
        m_to_feet += 1 #and add 1 to feet incrementally, until the final value is a number in feet and a remaining number of inches less than 12
    else:
        print(m_to_feet, "feet",  m_to_inch, "inches") #this should output the feet and inches calculated above...

# 1/1, Beadling ---- this function seems unecessarily complicated ... see the Assignment 3 key.

In [88]:
meters_to_feet_inches(10)

32 feet 9.699999999999989 inches

In [91]:
meters_to_feet_inches(123)

403 feet 6.509999999999309 inches

## <span style="color:red"> Save your notebook file, return to your terminal, move your file into your Assignments folder, and push (recall you will have to use git status, git add, git commit -m (revisit your notes) your new file to your GitHub account. Confirm that you see this new file on your GitHub account online.

## Grade: 17/17, but shows on GitHub this was commited 5 days ago ..... (Tuesday), as stated in the Syllabus, 5% deduction per day late:
## 14.45 / 17.